{% extends '_theme/_default.html.twig' %}
{% block content %}
    <!-- ./Page header -->
    <header class="header section bg-primary gradient-primary">
        <div class="container">
            <h1 class="fw-bold display-md-4 text-light">Footers</h1>
            <p class="h3 text-light">A line of information placed at the end of a page for purposes of identification.</p>
        </div>
    </header>

    {% include '_theme/partials/_curve_divider.html.twig' %}
    <div class="container-fluid py-3 demo-blocks">

        <!-- ./Footer - Four Columns -->
        <footer class="site-footer section block card">
            <div class="container py-4">
                <div class="row g-4 text-center text-md-start">
                    <div class="col-md-4 me-auto">
                        <a href="../" class="link-logo">
                            <img src="../img/logo.svg" alt="" class="logo mb-4">
                        </a>
                        <p>DashCore, a carefully crafted and powerful HTML5 template, it&#39;s perfect to showcase your startup or software</p>
                    </div>
                    <div class="col-md-2">
                        <h6 class="py-2 fw-bold text-uppercase">Company</h6>
                        <nav class="nav flex-column">
                            <a class="nav-item py-2" href="../about.html">About</a>
                            <a class="nav-item py-2" href="../#">Services</a>
                            <a class="nav-item py-2" href="../blog/">Blog</a>
                        </nav>
                    </div>
                    <div class="col-md-2">
                        <h6 class="py-2 fw-bold text-uppercase">Product</h6>
                        <nav class="nav flex-column">
                            <a class="nav-item py-2" href="../#">Features</a>
                            <a class="nav-item py-2" href="../#">API</a>
                            <a class="nav-item py-2" href="../#">Customers</a>
                        </nav>
                    </div>
                    <div class="col-md-2">
                        <h6 class="py-2 fw-bold text-uppercase">Channels</h6>
                        <nav class="nav flex-column">
                            <a class="nav-item py-2" href="../#">Careers</a>
                            <a class="nav-item py-2" href="../contact.html">Contact</a>
                            <a class="nav-item py-2" href="../#">Search</a>
                        </nav>
                    </div>
                </div>
                <hr class="mt-5">
                <div class="row small align-items-center">
                    <div class="col-md-4">
                        <p class="mt-2 mb-md-0 text-secondary text-center text-md-start">© 2024 5studios.net. All Rights Reserved</p>
                    </div>
                    <div class="col-md-8">
                        <nav class="nav social-icons justify-content-center justify-content-md-end">
                            <a href="../#" class="btn btn-sm btn-facebook me-3">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="../#" class="btn btn-sm btn-twitter text-white  me-3">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="../#" class="btn btn-sm btn-whatsapp me-3">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <a href="../#" class="btn btn-sm btn-instagram text-white  me-3">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>
        <footer class="site-footer section text-center block card">
            <div class="container py-4">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center mx-auto">
                        <a href="../" class="link-logo">
                            <img src="../img/logo.svg" alt="" class="logo mb-4">
                        </a>
                        <h2 class="fw-bolder mb-4">DashCore</h2>
                        <p class="mb-0 text-secondary small">© 2024 <a class="brand bold" target="_blank" href="../https://5studios.net">5studios.net</a>. All Rights Reserved </p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- ./Footer - Simple -->
        <footer class="site-footer section block card">
            <div class="container py-4">
                <div class="row align-items-center">
                    <div class="col-md-5 text-center text-md-left">
                        <nav class="nav justify-content-center justify-content-md-start">
                            <a class="nav-item nav-link" href="../about.html">About</a>
                            <a class="nav-item nav-link" href="../services.html">Services</a>
                            <a class="nav-item nav-link" href="../blog/">Blog</a>
                        </nav>
                    </div>
                    <div class="col-md-2 text-center">
                        <a href="../" class="link-logo">
                            <img src="../img/logo.svg" alt="" class="logo">
                        </a>
                    </div>
                    <div class="col-md-5 text-center text-md-right">
                        <p class="mt-2 mb-0 text-muted small">© 2024 5studios.net. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- ./Footer - Headline -->
        <footer class="section text-center block card">
            <div class="container py-4">
                <a href="../" class="link-logo">
                    <img src="../img/logo.svg" alt="" class="logo">
                </a>
                <p class="lead mt-5">Don't wait - <span class="bold">Get DashCore</span> NOW!</p>
                <p class="copyright my-4 pb-4"> © 2024 DashCore, <em>by</em>
                    <a class="brand bold" href="../https://5studios.net" target="_blank">5studios.net</a>
                </p>
                <nav class="nav social-icons justify-content-center mt-4">
                    <a href="../#" class="btn btn-sm btn-facebook me-3">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="../#" class="btn btn-sm btn-twitter text-white  me-3">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="../#" class="btn btn-sm btn-whatsapp me-3">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="../#" class="btn btn-sm btn-instagram text-white  me-3">
                        <i class="fab fa-instagram"></i>
                    </a>
                </nav>
            </div>
        </footer>
    </div>
{% endblock %}
