// Body

$body-bg-dark:                      $gray-900 !default;
$body-color-dark:                   $gray-500 !default;

// $body-secondary-color-dark:         $almost-black !default;
$body-secondary-bg-dark:            $black !default; //$card-bg-dark !default;
$body-tertiary-bg-dark:             $almost-black !default;
$body-tertiary-color-dark:          rgba($gray-800, .35) !default; //rgba($body-color-dark, .5) !default;
$border-color-dark:                 $gray-800 !default;

// Card

$card-bg-dark:                      $gray-800 !default;
$headings-color-dark:               $gray-100 !default;

// Navbar
$navbar-color-dark:                 $white !default;
$navbar-sticky-color-dark:          $white !default;

$link-color-dark:                   $gray-600 !default;
$link-hover-color-dark:             $primary !default;
