<!-- Page footer -->
<footer class="site-footer section text-center bg-body-secondary edge top-left">
    <div class="container pb-4">
        {% include '_theme/partials/_newsletter.html.twig' %}
        <hr class="mt-5">
        <div class="row align-items-center">
            <div class="col-md-6 text-center mx-auto">
                <a href="./" class="link-logo">
                    <img src="img/logo_light.png" alt="" class="logo">
                </a>
                <p class="mt-2 mb-0 text-secondary small">© {{ 'now'|date('Y') }} <a class="brand bold" href="https://letsaudit.es" target="&quot;_blank&quot;">letsaudit.es</a> .
                    {{ 'All Rights Reserved'|trans }} </p>
            </div>
        </div>
    </div>
</footer>