<!-- Page header -->
<header class="header section bg-primary gradient-primary">
    <div class="container">
        <h1 class="fw-bold display-md-4 text-light">Footers</h1>
        <p class="h3 text-light">A line of information placed at the end of a page for purposes of identification.</p>
    </div>
</header>