<!--<div class="section-heading">
    <h2 class="font-md fw-bold">{{ 'newsletter.Stay updated'|trans }}</h2>
    <p class="lead">{{ 'newsletter.claim'|trans }}</p>
</div>
<div class="row">
    <div class="col-md-6 mx-auto overflow-hidden">
        <form action="http://localhost:8000/api/auth/register" class="row row-cols-lg-auto g-0" data-response-message-animation="slide-in-left">
            <div class="col-12 col-lg-9">
                <input type="email" name="Subscribe[email]" placeholder="Enter your email" class="form-control" id="subscribeemail" required>
                <div class="invalid-feedback"></div>
            </div>
            <div class="col-12 col-lg-3">
                <button class="btn btn-primary shadow-primary mt-3 mt-lg-0" type="submit" data-loading-text="Sending...">
                    <span class="spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    <span class="text">Register</span>
                </button>
            </div>
        </form>
        <div class="response-message">
            <i class="fas fa-check-circle fa-2x text-primary"></i>
            <p class="fs-3 mb-3">Thank you!</p>
            <p class="fw-bold message">You are now subscribed to our newsletter.</p>
        </div>
    </div>
</div>-->